[submodule "freertos"]
	path = freertos
	url = ../fhal-kernel.git
[submodule "scripts"]
	path = scripts
	url = ../fhal-buildsystem.git
[submodule "driver"]
	path = driver
	url = ../fhal-driver.git
[submodule "mach"]
	path = mach
	url = ../fhal-mach.git
[submodule "board"]
	path = board
	url = ../fhal-board.git
[submodule "arch"]
	path = arch
	url = ../fhal-arch.git
