menu "Application Config"
config APP_INCLUDE
	string
	default "-Iinclude/am57xx"
config RPROC_TEST
	bool "Remoteproc Test"
	default n
config MAILBOX_TEST
	bool "Mailbox Test"
	default n
config BOARD_TEST
	bool "Carolo Cub Board Test"
	default n
config PRINT_CLOCK_TREE
	bool "Print Clock Tree Register"
	default n
config SPI_TEST
	bool "Spi Test"
	depends on SPI
	default n
config TIMER_TEST
	bool "Timer Test"
	depends on TIMER
	default n
config MPU_TEST
	bool "MPU Test"
	depends on MPU9250
	default n 
config RTC_SOFTWARE_TEST
	bool "RTC Software Test"
	depends on RTC_SOFTWARE
	default n
config SOFTWARE_CAPTURE_TEST
	bool "Software Capture Test"
	depends on CAPTURE_SOFTWARE
	default n
config CAN_TEST
    bool "CAN Test"
    depends on CAN
    default n
config CAN_DISABLE
	bool "Disable CAN"
	help
		set CAN TX to high
endmenu
