menu "Application Config"
config APP_INCLUDE
	string
	default "-Iinclude/s32k"
choice
	prompt "stdout UART"
	depends on UART
	help
		Select default UART
	config S32K_STDOUT_SEMIHOSTING
		bool "Semihosting (over JTAG)"
		select ARCH_ARM_DEBUG
		select SEMIHOSTING
		select SEMIHOSTING_UART
	config S32K_STDOUT_UART0
		bool "LPUART 0"
		depends on MACH_S32K_LPUART0
	config S32K_STDOUT_UART1
		bool "LPUART 1"
		depends on MACH_S32K_LPUART1
	config S32K_STDOUT_UART2
		bool "LPUART 2"
		depends on MACH_S32K_LPUART2
endchoice
choice
	prompt "Test Board"
	config S32K144_BASE
		bool "S32K144 Base without GPIO and UART"
		depends on S32K144
	config S32K144_EVM
		bool "S32K144_EVM"
		depends on S32K144
	config S32K142_BMS_TEST_R0
		bool "S32K142 BMS Master Testboard (Brand) r0"
		depends on S32K142
	config S32K142_BMS_TEST_LUCA
		bool "S32K142 BMS Master Testboard (LOCA) r0"
		depends on S32K142
endchoice
config LPUART_TEST
	bool "lpuart Test"
	depends on MACH_S32K_LPUART1
	depends on !S32K_STDOUT_UART1
config TIMER_TEST
	bool "Flextimer Test"
	depends on MACH_S32K_FLEXTIMER
	choice
		prompt "Timter Test"
		depends on TIMER_TEST
		config TIMER_TEST_ONESHOT
			depends on TIMER_TEST
			bool "Use One Shot Mode"
		config TIMER_TEST_PERIODIC
			bool "Use Periodic Mode"
		config TIMER_TEST_PWM
			depends on TIMER_TEST
			depends on PWM
			bool "Use PWM"
	endchoice
		config CAPTURE_TEST
			depends on CAPTURE
			depends on TIMER_TEST
			bool "Capture Test"
config SPI_TEST
	bool "SPI Test"
	depends on SPI
	config SPI_TEST_SINGEL_BYTE
		bool "Test Singel Byte access"
		depends on SPI_TEST
		default n

config LTC6811_TEST
	bool "LTC6811 Test"
	depends on SPI
	depends on LTC6811

config CAN_TEST
	bool "CAN Test"
	depends on CAN
endmenu
