menu "Application Config"
config APP_INCLUDE
	string
	default "-Iinclude/c28x"
config CAN_TEST
	bool "CAN Test"
	default n
if CAN_TEST=y
    config CAN_TEST_BITRATE
        int "CAN bitrate"
        default 500000
	config CAN_TEST_TOGGLE_PIN
		bool "Toggle TX Pins"
	config CAN_TEST_SEND
		bool "Send message"
endif
config CAN_DISABLE
	bool "Disable CAN"
	help
		set CAN TX to high
endmenu
