menu "Application Config"
config APP_INCLUDE
	string
	default "-Iinclude/polarfire"
choice
	prompt "stdout UART"
	depends on UART
	help
		Select default UART
	config POLAFIRE_SBI_STDOUT_UART
		bool "SBI UART"
		depends on ARCH_SBI_UART
endchoice
#config UART_TEST
#	bool "UART Test"
#	default n
#config TIMER_TEST
#	bool "Timer Test"
#	default n
config FLOAT_TEST
	bool "Float Test"
	default n
endmenu
