menu "Application Config"
config BUFFERTEST
	bool "Buffer Test"
	help
		internal Activate Buffer Test
config BUFFERTEST_SELF
	bool "Buffer Selftest"
	depends on BUFFERTEST
	help
		Buffer Selftest
config BUFFERTEST_IRQ
	bool "BUffer IRQ Test"
	depends on BUFFERTEST
	depends on MACH_VF610
	help
		Buffer IRQ Test
config TTY_BUFFERTEST
	bool "TTY Buffertest"
	depends on BUFFERTEST
	depends on MACH_VF610
	help
		Buffertest
config IRQTEST
	bool "IRQ Test"
	depends on MACH_VF610
	help
		IRQ Test
config TIMER_TEST
	bool "Timer Test"
	depends on TIMER
	help
		Flextimer Test
config PPM
	bool "PPM Driver"
	depends on TIMER
	help
		PPM Driver
config PWM_TEST
	bool "PWM Test"
	depends on PWM
	help
		PWM Tests
config RC
	bool "Remote Control Driver"
	depends on FLEXTIMER
	help
		RC Driver
config RCTEST
	bool "Remote Control Driver Test"
	depends on RC
	help
		RC Driver Test
config SPITEST
	bool "SPI Test"
	depends on SPI
	help
		SPI Test
config MPUTEST
	bool "MPU test"
	depends on MPU9250
	help
		MPU Test
config ADCTEST
	bool "ADC Test"
	depends on ADC
	help
		ADC Test
config TPSTEST
	bool "TPSTEST"
	depends on TPS65381
	help
		TPS65381 Test
config UARTTEST
	bool "UART Test Task"
	depends on UART
	help 
		UART Test Tasks
config LINUX_CON
	bool "Add Linux Copter Connection Task"
	depends on BUFFER
	help
		Linux Copter Connection
endmenu
