if MACH_VF610=y
source src/vf610/Kconfig
endif
if MACH_STM32=y
source src/stm32/Kconfig
endif
if MACH_IMX6=y
source src/imx6/Kconfig
endif
if MACH_AM57xx
source src/am57xx/Kconfig
endif
if ARCH_X86_LINUX
source src/linux/Kconfig
endif
if MACH_S32K
source src/s32k/Kconfig
endif
if MACH_C28X
source src/c28x/Kconfig
endif
