menu "Application Config"
config APP_INCLUDE
	string
	default "-Iinclude/kv4x"
choice
	prompt "stdout UART"
	depends on UART
	help
		Select default UART
	config KV4X_STDOUT_SEMIHOSTING
		bool "Semihosting UART"
		depends on SEMIHOSTING_UART
endchoice
config CAN_TEST
	bool "CAN Test"
	depends on CAN
	config FLEXCAN_ECHO_TEST
		bool "Echo test"
		depends on CAN_TEST
		default n
config TIMER_KV4X_TEST
	bool "Flextimer Test"
	depends on MACH_KV4X_FLEXTIMER
	choice
		prompt "Timer Test"
		depends on TIMER_KV4X_TEST
		config TIMER_TEST_KV4X_ONESHOT
			bool "Use One Shot Mode"
		config TIMER_TEST_KV4X_PERIODIC
			bool "Use Periodic Mode"
		config TIMER_TEST_KV4X_PWM
			depends on PWM
			bool "Use PWM"
	endchoice
	config CAPTURE_KV4X_TEST
		depends on CAPTURE
		depends on TIMER_KV4X_TEST
		bool "Capture Test"
endmenu
