menu "Application Config"
config APP_INCLUDE
	string
	default "-Iinclude/kv4x"
choice
	prompt "stdout UART"
	depends on UART
	help
		Select default UART
	config KV4X_STDOUT_SEMIHOSTING
		bool "Semihosting UART"
		depends on SEMIHOSTING_UART
endchoice
config CAN_TEST
	bool "CAN Test"
	depends on CAN
	config FLEXCAN_ECHO_TEST
		bool "Echo test"
		depends on CAN_TEST
		default n
endmenu
